<p id="notice"><%= notice %></p>

<p>
  <strong>Note:</strong>
  <%= @ticket.note %>
</p>

<p>
  <strong>Status:</strong>
  <%= @ticket.status %>
</p>

<p>
  <strong>Table:</strong>
  <%= @ticket.table %>
</p>

<p>
  <strong>Customer:</strong>
  <%= @ticket.customer %>
</p>

<%= link_to 'Edit', edit_ticket_path(@ticket) %> |
<%= link_to 'Back', tickets_path %>
