<%= form_for(@order_group) do |f| %>
  <% if @order_group.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@order_group.errors.count, "error") %> prohibited this order_group from being saved:</h2>

      <ul>
      <% @order_group.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :ticket_id %><br>
    <%= f.text_field :ticket_id %>
  </div>
  <div class="field">
    <%= f.label :user_id %><br>
    <%= f.text_field :user_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
